<div class="liserai">
</div>
<footer class="footer">
    <div class="footer_left">
        <p>INFORMATIONS PRATIQUES<br>
        CE & COLLECTIVITÉS <br>
        MENTIONS LEGALES<br>
        PRESSE<br>
        RÈGLEMENT DU FESTIVAL & CGV<br>
        TECHNIQUE</p>
    </div>
    <div class="footer_center">
        <div><img src="../images/picto_svg/logo métropole lyon.svg" alt="logo metropole"></div>
        <div><img src="../images/picto_svg/logo NDF.svg" alt="picto les nuits de Fourvières"></div>
    </div>
    <div class="footer_right">
        <div class="socials">
            <div><img src="../images/picto_svg/Instagram_logo_2016.svg" alt="logo Instagram"></div>
            <div><img src="../images/picto_svg/Twitter-logo.svg" alt="logo Twitter"></div>
            <div><img src="../images/picto_svg/Facebook_F_icon.svg" alt="logo Facebook"></div>
            <div><img src="../images/picto_svg/YouTube_full-color_icon_(2017).svg" alt="logo YouTube"></div>
            <div><img src="../images/picto_svg/linkedin.svg" alt="logo linkedin"></div>
        </div>
        <p><b>Contact</b><br>
        1 RUE CLEBERG 69005 lyon<br>
        INFORMATIONS : 04 72 57 15 40<br>
        BILLETTERIE : 04 72 32 00 00</p>
    </div>
</footer>
