<header>
    <div class="header max-width">
        <hr class="max-width hr">
    </div>
    <div class="max-width header" style="margin-bottom: 5vh;">
            <a href="programme.html"><div>
                <button class="btn"><h1 style="font-size: 40px;">Programme</h1></button>
            </div></a>
             <a href="index.html"><div class="nav_center">
               <img src="../images/picto_svg/LOGO header.svg" alt="pictogramme nuits de Fourvières">
            </div></a>
            <div class="nav_right">
                <a href="payment.html"><img src="../images/picto_svg/billetterie.svg" alt="pictogramme billetterie"></a>
            </div>
    </div>
</header>