@font-face {
    font-family: satochi;
    src: url(fonts/satochi.otf) ;
  }
@font-face {
    font-family: satochi-bold;
    src: url(fonts/satochi-bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: phaton;
    src: url(fonts/phaton.otf);
}
* {
    margin: 0;
    padding: 0;
}
body {
    /* background-color: #F8EBDD; */
    background-image: radial-gradient(closest-corner circle at 0% 90%,#FEE7CF 0%, #FFF6EC 80%,transparent),
    radial-gradient(closest-corner circle at 80% 20%, #FEE7CF 0%, #FFF6EC 80%,transparent),
    radial-gradient(closest-corner circle at 10% 10%, #FEE7CF 0%, #FFF6EC 80%);
    color: #AD7036;
    margin:0;
}

h1 {
    font-family: phaton;
    font-size: 40px;
}
h2 {
    font-family: satochi;
    font-size: 20px;
    font-weight: normal;
}

p {
    line-height: 35px;
    font-size: 18px;
    font-family: satochi;
}

a{
    text-decoration: none;
}

nav h1 {
    margin:0;
}

.nav {
    max-width: 1920px;
    justify-content: center;
    list-style-type: none;
    margin: 0 15%;
    margin-top: 15px;
    display: flex;
    margin-bottom: 80px;
}
.nav2 {
    margin-left: auto;
    margin-right: auto;
}

.hr {
    max-width: 1920px;
    width: 70%;
    margin: 0 15%;
    margin-top: 80px;
    border: 1px solid #AD7036;
    color:#AD7036;
}

.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
    max-width: 1200px;
    max-height: 600px;
    margin: 0 auto;
}

.hero img {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

/************************ Buttons ***********************/
.btn {
    text-decoration: none;
    background: none;
    color: #AD7036;
    border: 2px solid #AD7036;
    padding: 18px 38px;
    position: relative;
    z-index: 1;
}

.button_number {
    padding: 10px 20px;
}

.div_number {
    padding: 18px 38px;
    display: flex;
    gap:20px;
    border: 2px solid #AD7036;
    align-items: center;
}
.btn:after {
    content: '';
    position: absolute;
    bottom: 0; /* Start at the bottom of the button */
    left: 0;
    width: 100%;
    height: 0; /* Start with a height of 0 */
    background-color: #AD7036; /* Slide color */
    transition: all 0.3s ease-in-out; /* Slide animation */
    z-index: -1; /* Push slide element behind button */
}
  
.btn:hover:after {
    height: 100%; 
}

.btn:hover {
    transition: 0.5s;
    color: #fff;
}


.reverse_btn {
    text-decoration: none;
    background: none;
    color: white;
    border: 2px solid #AD7036;
    padding: 18px 38px;
    position: relative;
    z-index: 1;
}

.reverse_btn::before {
    position: absolute;
    content: "";
    background: #AD7036;
    transition-duration: 0.3s;
    z-index: -1;
    inset: 0px auto auto 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
} 


.reverse_btn:hover::before {
    width: 100%;
    height: 0px;
    opacity: 1;
} 

.reverse_btn:hover {
    background: transparent;
    color: #AD7036;
    transition: color 0.3s ease 0s, transparent 0s ease 0s;
} 
.reverse_btn_small {
    text-decoration: none;
    background: none;
    color: white;
    border: 2px solid #AD7036;
    padding: 10px 20px;
    position: relative;
}

.reverse_btn_small::before {
    position: absolute;
    content: "";
    background: #AD7036;
    transition-duration: 0.3s;
    z-index: -1;
    inset: 0px auto auto 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
} 


.reverse_btn_small:hover::before {
    width: 100%;
    height: 0px;
    opacity: 1;
} 

.reverse_btn_small:hover {
    background: transparent;
    color: #AD7036;
    transition: color 0.3s ease 0s, transparent 0s ease 0s;
} 
/************************ Buttons ***********************/

.ticketing {
    display: block;
    justify-content: center;
    padding: 50px;
    padding-bottom: 0;
    width: 25%;
    margin: 200px auto;
    margin-top: 150px;
    text-align: center;
    align-items: center;
    min-width: 300px;
}
.ticketing p {
    margin-bottom: 40px;
}

.about {
    display: flex;
    background-image: url(images/amphi.jpg);
    background-size: cover;
    background-position: center; 
    width: 100%;
    min-height: 600 px;
    height: 100vh;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.in_about {
    margin-left: 15%;
    position: absolute;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #F8EBDD;
    padding: 70px;
    width: 400px;
}

.spaced_h1{
    margin-top: 30px;
    margin-bottom: 20px;
}
.spaced_p {
    margin-bottom: 40px;
}

.spotlight {
    height: 500px;
    margin: 200px 15%;
    display: flex;
    align-items: center;
    position: relative;
    gap:14%;
}


.in_spotlight{
    max-width: 600px;
    margin-left: auto;
}
.in_spotlight h2{
    font-family: satochi-bold;
    margin-bottom: 20px;
}
.spotlight_button {
    display: flex;
    gap:20px;
}
.foresti_flowers {
    width: fit-content;
    margin:0;
    margin-top:10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-image: url(images/picto_svg/motif\ artisite\ du\ moment.svg);
}

.values {
    display: flex;
    background-color: #FBEAD8;
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    gap:15%;
    padding: 0 15%;
}

.in_values_title {
    background-color: #FBEAD8;
    width: 20%;
    width: 475px;
}
.in_values_text {
    margin-left:auto;
    max-width: 600px;
}  
.flowers_h1 {
    background-repeat: no-repeat;
    background-image: url(images/picto_svg/motif\ petites\ feuilles.svg);
    max-width: 300px;
}
.flowers_ticket {
    /* width: fit-content; */
    margin-bottom: 4px;
    padding: 16px;
    background-repeat: repeat;
    background-image: url(images/picto_svg/motif\ feuilles\ actu.svg);
}
/********************* actu ***********************************/

.flowers_news {
    background-repeat: no-repeat;
    background-image: url(images/picto_svg/motif\ petites\ feuilles.svg);
    margin-left:15%;
    margin-top:100px;
    margin-bottom: 45px;
    padding:15px;
    padding-left: 0;
    width: fit-content;
}

.news {
    height: 500px;
    margin: 0 15%;
    display: flex;
    gap:4%;
}

.news img{
    width: 100%;
    /* height: 300px; */
}
.duo1, .duo2,.duo3 {
    width: 33.3%;
    height: 300px;
}
.top_news {
    padding:40px;
    background-color: #FBEAD8;
}


.newsletter {
    height: 500px;
    margin: 0 15%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #FBEAD8;
}


.in_newsletter{
    max-width: 600px;
    margin-left: 8%;
}
.h1_news {
    background-repeat: no-repeat;
    background-image: url(images/picto_svg/motif\ petites\ feuilles.svg);
}

.mailbox {
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;
}

.liserai {

    width: 100%;
    height: 50px;
    background-image: url(images/picto_svg/motif.svg);
    background-repeat: repeat;
    margin-top: 200px;
}

.footer {
    background-color: #FBEAD8;
    display: flex;
    padding: 100px 15%;
}

.footer_center {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap:50px;
    margin-left: auto;
    margin-right: auto;
}

.footer_left p,.footer_right p{
    line-height: 50px;
}
.footer_right {
    padding-top: 15px;
}
.socials {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

/*polices differentes
boutons sur fond blanc
liserai
feuilles
images actus
boutons fonctionnels
*/


/*For the artist page*/


.formatted{
    margin:auto;
    margin: 11% 0% 10% 15%;
    height: 200px;
    width: 20%;
    max-width: 20%;
    min-width: 30vh;
    min-height: 50%;
    display: inline-block;
}


.Big-title{
    font-family: phaton;
    font-size: 60px;
}


.title{
    font-family: phaton;
    font-size: 40px;
}


.paragraph{
    font-family: satochi;
    font-size: 18px;
}


.paragraph-highlight{
    font-family: satochi-bold;
    font-size: 18px;
}


.section img{
    position: absolute;
    width: 600px;
    height: 600px;
    margin: 13% 26% 0% 15%;
    display: inline-block;
}


.resize-button{
    display: flex;
    max-width: 30%;
    height: 20px;
    position: center;
    border: 2px solid #AD7036;
    padding: 18px 38px;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.resize-button:after {
    content: '';
    position: absolute;
    bottom: 0; /* Start at the bottom of the button */
    left: 0;
    width: 100%;
    height: 0; /* Start with a height of 0 */
    background-color: #AD7036; /* Slide color */
    transition: all 0.3s ease-in-out; /* Slide animation */
    z-index: -1; /* Push slide element behind button */
}
 
.resize-button:hover:after {
height: 100%; /* Slide in on hover */
}


.resize-button:hover {
    transition: 0.5s;
    color: #fff;
}


.resize-text-button{
    width: auto;
}


.video-size{
  /*  margin: 9% 15% 0% 15%;*/
    float: left;
    position: static;
    padding: 9% 10% 10% 15%;
}


.right-text{
   /* display: inline-block;*/
    justify-content: flex-end;
    padding: 8% 15% 10% 0%;
    margin: auto;
}
.about-artist{
    background-image: url(test\ foresti.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: -1;
}
.in_about-artist {
    background-color: #F8EBDD;
    width: 378px;
    height: 410px;
    margin: 0 200px;
    top: 145px;
    position: relative;
   padding: 50px;
}
