<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<div id="head"></div>
  </head>
  <body>
    <script src="../scripts/partials.js"></script>
    <header>
      <div id="header"></div>
        <div class="disposition" style="margin-top: 0.7%;">
            <tickets style="margin-left: 16%; margin-right: -16%;">
                <a href="payment.html" style="color: #AD7036"><h2 class="size-font-numbers">1</h2>
                <p class="size-font-title">Billets</p></a>
            </tickets>
            <coordinate class="opacity-text">
                <a href="contact_details.html" style="text-decoration: none; color: #AD7036"> <h2 class="size-font-numbers">2</h2>
                <p class="size-font-title">Coordonnées</p></a>
            </coordinate>
            <payment class="opacity-text" style="margin-right: 16%; margin-left: -16%;">
                <h2 class="size-font-numbers">3</h2>
                <p class="size-font-title">Paiement</p>
            </payment>
        </div>
    </header>
    <main>
        <contact> <!-- contient toute la partie gauche -->
                <!-- tous ceux là vont être en display flex et à l'intérieur deux sous partie pour chaque côté du tableau, un élément pour nom+field et un autre pour prénom+ fields -->
            <h1 style="display: flex"></h1>
            <name style="display: flex"></name>
            <tel style="display: flex"></tel>
            <hr class="hr">
            <address style="display: flex"></address>
            <town style="display: flex"></town>
        </contact>
    </main>
    <div id="footer"></div>
  </body>
</html>
