<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les Nuits de Fourvières</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
		<nav>
			<ul class="nav" style="align-items: center; margin-top: 4.5%; margin-bottom: 0.5%;">
				<li class="nav2">
					<a href="index.html"><img src="images/picto_svg/LOGO header.svg" alt="pictogramme nuits de Fourvières du 31/05 au 28/07"></a>
				</li>
			</ul>
            <hr class="hr">
      	</nav>
        <div class="disposition" style="margin-top: 0.7%;">
            <tickets style="margin-left: 16%; margin-right: -16%;">
                <a href="payment.html" style="color: #AD7036"><h2 class="size-font-numbers">1</h2>
                <p class="size-font-title">Billets</p></a>
            </tickets>
            <coordinate class="opacity-text">
                <a href="contact_details.html" style="text-decoration: none; color: #AD7036"> <h2 class="size-font-numbers">2</h2>
                <p class="size-font-title">Coordonnées</p></a>
            </coordinate>
            <payment class="opacity-text" style="margin-right: 16%; margin-left: -16%;">
                <h2 class="size-font-numbers">3</h2>
                <p class="size-font-title">Paiement</p>
            </payment>
        </div>
    </header>
    <main>
        <contact> <!-- contient toute la partie gauche -->
                <!-- tous ceux là vont être en display flex et à l'intérieur deux sous partie pour chaque côté du tableau, un élément pour nom+field et un autre pour prénom+ fields -->
            <h1 style="display: flex"></h1>
            <name style="display: flex"></name>
            <tel style="display: flex"></tel>
            <hr class="hr">
            <address style="display: flex"></address>
            <town style="display: flex"></town>
        </contact>
    </main>
    <div class="liserai">
	</div>
    <footer class="footer">
		<div class="footer_left">
			<p>INFORMATIONS PRATIQUES<br>
			CE & COLLECTIVITÉS <br>
			MENTIONS LEGALES<br>
			PRESSE<br>
			RÈGLEMENT DU FESTIVAL & CGV<br>
			TECHNIQUE</p>
		</div>
		<div class="footer_center">
			<div><img src="images/picto_svg/logo métropole lyon.svg" alt="logo metropole"></div>
			<div><img src="images/picto_svg/logo NDF.svg" alt="picto les nuits de Fourvières"></div>
		</div>
		<div class="footer_right">
			<div class="socials">
				<div><img src="images/picto_svg/Instagram_logo_2016.svg" alt="logo Instagram"></div>
				<div><img src="images/picto_svg/Twitter-logo.svg" alt="logo Twitter"></div>
				<div><img src="images/picto_svg/Facebook_F_icon.svg" alt="logo Facebook"></div>
				<div><img src="images/picto_svg/YouTube_full-color_icon_(2017).svg" alt="logo YouTube"></div>
				<div><img src="images/picto_svg/linkedin.svg" alt="logo linkedin"></div>
			</div>
			<p><b>Contact</b><br>
			1 RUE CLEBERG 69005 lyon<br>
			INFORMATIONS : 04 72 57 15 40<br>
			BILLETTERIE : 04 72 32 00 00</p>
		</div>
    </footer>
  </body>
</html>
