<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<div id="head"></div>
	</head>
  <body>
    <div id="header"></div>
	<main>
		<div class="center_block"> <!-- ticketing -->
			<div class="flowers_medium flowers" style="margin-bottom: 40px;">
					<h1>Le Festival</h1>
				</div>
				<h2 style="margin-bottom: 20px;">Un événements qui rassemble depuis 1953</h2>
					<p>Ateliers, visites, rencontres : le festival vous propose, tout au long de l'édition, de plonger au cœur de la programmation
						<br>pour vivre pleinement vote expérience aux Nuits.</p>
		</div>

	<div class="big_background_image festival_image_div_left">
		<div class="max-width padded_div">
			<div class="padded_div_right">
				<p>LE THÉÂTRE ANTIQUE DE FOURVIÈRE À LYON</p>
				<h1 class="spaced_h1 h1_flowers flowers">Un lieu,<br>une histoire</h1>
				<p class="spaced_p">Faire revivre le site, l'animer en présentant des spectacles est donc,
					dès le départ, un rêve absolu et une ambition partagée. Personne
				ne songe alors à appeler festival cette nouvelle rencontre entre la
				cité et les artistes qui précède d'un an la première semaine d'art
				d'Avignon.</p>
			</div>
		</div>
	</div>
	<div class="big_background_image" style="background-image: url(../../images/fond-festival.jpg);">
		<div class="padded_div max-width">
			<div class="inside_block_left" style="max-width: 500px;">
				<p>LE FESTIVAL VOUS OUVRE SES PORTES</p>
				<h1 class="spaced_h1">Les nuit de <br>Fourvière & vous</h1>
				<p class="spaced_p">Les Nuits rassemblent chaque été plus de 130 000
					spectateurs. La politique tarifaire permet l'accès à un large public.<br>
					La fréquentation moyenne est de 83%.</p>
					<a href="programme.html"><button class="btn">
						<h2>DÉCOUVRIR LA PROGRAMAMTION</h2>
					</button></a>
			</div>
		</div>
	</div>
	<div class="big_background_image festival_image_div_right">
		<div class="max-width padded_div">
			<div class="padded_div_left">
				<p>UN FESTIVAL PLURIDISCIPLINAIRE</p>
				<h1 class="spaced_h1 h1_flowers flowers">Des artistes <br>de tous horizons</h1>
				<p class="spaced_p">Sous 'appellation NUITS, une partie de la programmation du
					festival se consacre à des artistes du monde entier : Bénin (Nuit au
					Bénin), Espagne (Nuit du Flamenco), Bali, Argentine (Nuit Tango),
					Pékin (Opera de Pékin)...</p>
					<a href="programme.html"><button class="btn">
						<h2>ACHETER MES BILLETS MAINTENANT</h2>
					</button></a>
				</div>
		</div>
	</div>
</main>
	<div id="footer"></div>
	<script src="../scripts/partials.js"></script>
</body>
</html>