<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<div id="head"></div>
	</head>
  <body>
	<div id="header"></div>
    <main>
	<div class="big_flowers flowers">
		<div class="animate">
			<img src="../images/photos_png/Forresti_1.png" width="240" height="240" alt="Natural" class="image" style="margin-right: 8.5%" />
			<img src="../images/photos_png/biolay_1.png" width="240" height="240" alt="Natural" class="image" style="margin-right: 8.5%" />
			<img src="../images/photos_png/Chris_1.png" width="240" height="240" alt="Natural" class="image" style="margin-right: 8.5%" />
			<img src="../images/photos_png/Isabelle_Adjani_1.png" width="240" height="240" alt="Natural" class="image" style="margin-right: 8.5%" />
			<img src="../images/photos_png/Polnareff_2.png" width="240" height="240" alt="Natural" class="image" style="margin-right: 8.5%" />
			<img src="../images/photos_png/Pomme_1.png" width="240" height="240" alt="Natural" class="image" style="margin-right: 8.5%" />
			<img src="../images/photos_png/Tamino_1.png" width="240" height="240" alt="Natural" class="image" style="margin-right: 8.5%" />
			<img src="../images/photos_png/The_blaze_1.png" width="240" height="240" alt="Natural" class="image" style="margin-right: 8.5%" />
			<img src="../images/photos_png/Zazy_1.png" width="240" height="240" alt="Natural" class="image" style="margin-right: 8.5%" />
			<img src="../images/photos_png/Forresti_1.png" width="240" height="240" alt="Natural" class="image" style="margin-right: 8.5%" />
		</div>
		  
		  <div style="margin-top: 5vh"></div>
		  <div class="animate2">
			<img src="../images/photos_png/Foresti_2.png" width="240" height="240" alt="Natural" style="margin-left: 8.5%" />
			<img src="../images/photos_png/Biolay_2.png" width="240" height="240" alt="Natural" style="margin-left: 8.5%" />
			<img src="../images/photos_png/Chris_2.png" width="240" height="240" alt="Natural" style="margin-left: 8.5%" />
			<img src="../images/photos_png/Isabelle_Adjani_2.png" width="240" height="240" alt="Natural" style="margin-left: 8.5%" />
			<img src="../images/photos_png/Polnareff_1.png" width="240" height="240" alt="Natural" style="margin-left: 8.5%" />
			<img src="../images/photos_png/Pomme_2.png" width="240" height="240" alt="Natural" style="margin-left: 8.5%" />
			<img src="../images/photos_png/Tamino_2.png" width="240" height="240" alt="Natural" style="margin-left: 8.5%" />
			<img src="../images/photos_png/The_blaze_2.png" width="240" height="240" alt="Natural" style="margin-left: 8.5%" />
			<img src="../images/photos_png/Zazi_2.png" width="240" height="240" alt="Natural" style="margin-left: 8.5%" />
			<img src="../images/photos_png/Foresti_2.png" width="240" height="240" alt="Natural" style="margin-left: 8.5%" />
		  </div>
	</div>
	<div class="center_block" style="margin-top: 200px;"> <!-- ticketing -->
		<div class="flowers flowers_medium">
				<h1>Billetterie</h1>
			</div>
			<p style="margin: 20px 0;">PASS FESTIVAL - BILLET 1 JOUR</p>
	</div>
	<div style="display: flex; margin-bottom: 200px;">
		<div class="liserai_sides">
		</div>
		<a href="programme.html" style="width: 25%;"><button class="btn" style="width: 100%;">
			<h2>ACHETER MES BILLETS MAINTENANT</h2>
		</button></a>
		<div class="liserai_sides">
		</div>
	</div>
		<div class="big_background_image">
			<div class="padded_div max-width">
				<div class="inside_block_left">
					<p>LE TH&#201ATRE ANTIQUE DE FOURVIÈRE À LYON</p>
					<h1 class="spaced_h1">Un lieu Exceptionnel</h1>
					<p class="spaced_p">Les Nuits de fourrières se déroulent dans le
						Théâtre antique Fourvière de Lyon depuis toutes
						ces années. Un lieux exceptionnel et plein de charme qui
						ne cessera de vous émerveiller.</p>
						<a href="festival.html">
						<button class="btn"><h2>DÉCOUVRIR LE FESTIVAL</h2></button>
						</a>
				</div>
			</div>
		</div>
		<div class="padded_div max-width">
				<a href="artist.html"><img class="spotlight_img" src="../images/photos_png/Foresti_2.png" alt="image artiste du moment"></a>
			<div class="padded_div_right">
				<p>DU 25 AU 30 JUIN 2023</p>
				<h1 class="spaced_h1 h1_flowers flowers">L'artiste du moment</h1>
				<h2 class="bold_h2">FLORENCE FORESTI</h2>
				<p class="spaced_p">Elle revient avec son nouveau seule-en-scène intitulé Boys Boys
					Boys, un spectacle qui croque l'époque avec justesse
					et drôlerie. Avec son incroyable énergie, son sens aigu du rythme et
					de la formule, Florence Foresti capte 'attention et déclenche
					l'hilarité. (Le Monde)</p>
				<div class="spotlight_button">
					<div class="div_number">
						<a href=""><button class="btn button_number">-</button></a>
						<p>1</p>
						<a href=""><button class="reverse_btn_small">+</button></a>
						<p>30€</p>
					</div>
					<button class="reverse_btn"><p>AJOUTER AU PANIER</p></button>
				</div>
			</div>
		</div>
		<div style="background-color: #FBEAD8;">
			<div class="padded_div max-width">
				<div class="in_values_title">
					<p>NOUS SOUTENIR</p>
					<h1 class="spaced_h1 h1_flowers flowers">Les valeurs du festival</h2>
						<h2>Les Nuits de Fourvière bâtissent ave les entreprises
							des relations d'échange et de confiance, depuis de
							nombreuses années.</h3>
						</div>
				<div class="padded_div_right">
					<p>Par leur engagement fort et permanent, ces entreprises soutiennent
						une politique de production. Les Nuits de Fourvière investissent
						dans la production. Les Nuits de Fourvière bâtissent depuis une
						dizaine d'années des relations privilégiées, de confiance et
						d'échange ave des entreprises. Grâce à un engagement fort et
						permanent aux côtés du festival, ces entreprises soutiennent sa
						politique de création. Le festival cherche à construire des
						partenariats sur-mesure relatifs aux attentes de chaque entreprise.</p>
				</div>
			</div>
		</div>
			<div class="padded_div max-width" style="padding-bottom: 0;">
				<h1 class="flowers_h1_separated_div flowers spaced_h1">L'actualité</h1>
			</div>"
		<div class="news padded_div max-width" style="padding-top: 0;">
			<div class="duo">
				<div class="top_news">
					<p>RENOVATION DU LIEU DE SPECTACLE</p>
				</div>
				<div class="hoverable-image">
					<img src="../images/actualite-1.jpg" alt="news">
					<div class="image-overlay">
						<p>Present nunc lorem, consectetur eu
							accumsan at, pretium nec erat. Proin
							fermentum urna sed lobortis accumsan.
							Cras sit amet tortor a turpis vulputate
							fermentum.</p>
						</div>
				</div>
			</div>
			<div class="duo">
				<div class="top_news">
					<p>OVERTURE DE LA BILLETTERIE</p>
				</div>
				<div class="hoverable-image">
					<img src="../images/actualite-2.jpg" alt="news">
					<div class="image-overlay">
						<p>Present nunc lorem, consectetur eu
							accumsan at, pretium nec erat. Proin
							fermentum urna sed lobortis accumsan.
							Cras sit amet tortor a turpis vulputate
							fermentum.</p>
						</div>
				</div>
			</div>
			<div class="duo">
				<div class="top_news">
					<p>RETROSPECTIVE 2022</p>
				</div>
				<div class="hoverable-image">
					<img src="../images/actualite-3.jpg" alt="news">
					<div class="image-overlay">
						<p>Present nunc lorem, consectetur eu
							accumsan at, pretium nec erat. Proin
							fermentum urna sed lobortis accumsan.
							Cras sit amet tortor a turpis vulputate
							fermentum.</p>
						</div>
				</div>
			</div>
		</div>
		<div class="max-width padded_div">
			<div class="newsletter">
				<img width="30%" src="../images/newsletter.jpg" alt="newsletter">
					<div class="in_newsletter">
						<p>INSCRIVEZ VOUS À NOTRE NEWSLETTER !</p>
						<h1 class="h1_news spaced_h1">Recevez l'actualitç<br> de vos artistes préféré•e•s</h2>
							<p>Email</p>
							<div class="mailbox"><p>theo.desgrange@gmail.com</p></div>
							<div class="reverse_btn"><p>RECEVOIR NOTRE NEWSLETTER</p></div>
						</div>
		</div>
	</main>
	<div id="footer"></div>
	<script src="../scripts/partials.js"></script>
  </body>
</html>
