<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<div id="head"></div>
	</head>
  <body>
    <script src="../scripts/partials.js"></script>
	<div id="header_payment"></div>
    <div class="padded_div disposition max-width">
        <tickets>
            <a href="payment.html" style="color: #AD7036"><h2 class="size-font-numbers">1</h2>
                <div class="flowers_small flowers">
                    <h2 class="size-font-title">Billets</h2>
                </div></a>
        </tickets>
        <coordinate class="opacity-text">
            <div>
                <a href="contact_details.html" style="text-decoration: none; color: #AD7036" > <h2 class="size-font-numbers">2</h2>
            </div>
                <div class="flowers flowers_small">
                    <p class="size-font-title opacity-text">Coordonnées</p></a>
                </div>
        </coordinate>
        <payment class="opacity-text">
            <h2 class="size-font-numbers">3</h2>
            <div class="flowers flowers_small">
            <p class="size-font-title">Paiement</p>
            </div>
        </payment>
    </div>
    <div class="padded_div max-width" style="align-items: normal;">
        <div>
        <h1>Vos billets</h1>
        <div class="disposition_tickets background_tickets">
            <div class="big_leaf">
        </div>
            <img src="../images/photos_png/Foresti_2.png" alt="Florence Foresti" class="small-forresti">
            <div>
                <p class="artist-title">Florence Foresti</p>
                <div style="text-align: center;">
                    <p class="date_background">25 Juin 2023</p>
                </div>
            </div>
        </background>
            <div class="spotlight_button" style="margin-left: auto;">
                <div class="div_number_payment">
                    <a href=""><button class="btn_payment">-</button></a>
                    <p>2</p>
                    <a href=""><button class="reverse_btn_small_payment">+</button></a>
                    <p>30€</p>
                </div>
            </div>
        </div>
    </div>

    <div class="padded_div_right_payment payment_box title-payment liserai_payment" style="">
        <h4>Paiement</h4>
        <div style="display:flex; margin-top: 35px;">
            <h2 class="bold_h2">2 BILLETS</h2>
            <p class="spaced_p price">60€</p>
        </div>
            <div class="div_number white-btn">
                <p>Ajouter un code promo</p>
            </div>
            <div class="">
                <a href="contact_details.html" style="text-decoration: none; color: #AD7036"><button class="reverse_btn" style="margin-top:35px;"><p>PASSER AU PAIEMENT</p></button>
            </div>
        </div>
</div>

    </main>
    <div id="footer"></div>
  </body>
</html>
