<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Les Nuits de Fourvières</title>
		<link rel="stylesheet" href="../styles/buttons.css">
		<link rel="stylesheet" href="../styles/style.css">
		<link rel="stylesheet" href="../styles/payment.css">
	</head>
	<body>
		
		<header>
			<div class="header max-width">
				<hr class="max-width hr">
			</div>
			<div class="max-width header" style="margin-bottom: 5vh;">
					<a href="programme.html"><div>
						<button class="btn"><h1 style="font-size: 40px;">Programme</h1></button>
					</div></a>
					 <a href="../index.html"><div class="nav_center">
					   <img src="/images/picto_svg/LOGO header.svg" alt="pictogramme nuits de Fourvières">
					</div></a>
					<div class="nav_right">
						<a href="payment.html" class="nav_right_nbr">
							<p name="cartQuantity" style="margin:auto;">0</p>
						</a>
						<a href="payment.html" class="nav_right_img"><img style="width:100%;"
							src="/images/picto_svg/billetterie.svg" alt="pictogramme billetterie">
						</a>
					</div>
			</div>
		</header>
		
		<main>
			<div class="flowers flowers_h1_separated_div center_block">
				<h1>Programmation</h1>
			</div>
			<div class="padded_div max-width" style="align-items:start;padding-right: 0;">
				<div class="galerie">
					<div class="artist_item theatre"  name="polnareff">
						<img src="../images/photos_png/Polnareff_2.png">
						<p>THÉATRE</p>
						<h2 class="bold_h2" style="margin:10px 0;">MICHEL POLNAREFF</h2>
						<div style="display: flex;">
							<p style=margin-bottom:10px>Le 5 Juin</p>
							<p style="margin-left: auto;">21h30</p>
						</div>
							<div class="div_number">
								<button class="btn button_number" name="minusCart">-</button>
								<p name="quantity">1</p>
								<button class="reverse_btn_small" name="plusCart">+</button>
								<p name="price">30€</p>
							</div>
							<button class="reverse_btn" style="margin-top:15px; width:100%;" name="addToCart"><p>AJOUTER AU PANIER</p></button>
					</div>
					<div class="artist_item musique" name="chris">
						<img src="../images/photos_png/Chris_1.png">
						<p>MUSIQUE</p>
						<h2 class="bold_h2" style="margin:10px 0;">CHRIS</h2>
						<div style="display: flex;">
							<p style=margin-bottom:10px>Le 6 Juin</p>
							<p style="margin-left: auto;">21h30</p>
						</div>
							<div class="div_number">
								<button class="btn button_number" name="minusCart">-</button>
								<p name="quantity">1</p>
								<button class="reverse_btn_small" name="plusCart">+</button>
								<p name="price">30€</p>
							</div>
							<button class="reverse_btn" style="margin-top:15px; width:100%;" name="addToCart"><p>AJOUTER AU PANIER</p></button>
					</div>
					<div class="artist_item musique" name="foresti">
						<img src="../images/photos_png/Foresti_1.png">
						<p>MUSIQUE</p>
						<h2 class="bold_h2" style="margin:10px 0;">FLORENCE FORESTI</h2>
						<div style="display: flex;">
							<p style=margin-bottom:10px>Du 25 au 30 Juin 2023</p>
							<p style="margin-left: auto;">21h</p>
						</div>
							<div class="div_number">
								<button class="btn button_number" name="minusCart">-</button>
								<p name="quantity">1</p>
								<button class="reverse_btn_small" name="plusCart">+</button>
								<p name="price">30€</p>
							</div>
							<button class="reverse_btn" style="margin-top:15px; width:100%;" name="addToCart"><p>AJOUTER AU PANIER</p></button>
					</div>
					<div class="artist_item musique" name="biolay">
						<img src="../images/photos_png/biolay_1.png">
						<p>MUSIQUE</p>
						<h2 class="bold_h2" style="margin:10px 0;">BENJAMIN BIOLAY</h2>
						<div style="display: flex;">
							<p style=margin-bottom:10px>Le 5 et 6 Juillet</p>
							<p style="margin-left: auto;">21h30</p>
						</div>
							<div class="div_number">
								<button class="btn button_number" name="minusCart">-</button>
								<p name="quantity">1</p>
								<button class="reverse_btn_small" name="plusCart">+</button>
								<p name="price">30€</p>
							</div>
							<button class="reverse_btn" style="margin-top:15px; width:100%;" name="addToCart"><p>AJOUTER AU PANIER</p></button>
					</div>
					<div class="artist_item musique" name="zazie">
						<img src="../images/photos_png/Zazy_1.png">
						<p>MUSIQUE</p>
						<h2 class="bold_h2" style="margin:10px 0;">ZAZIE</h2>
						<div style="display: flex;">
							<p style=margin-bottom:10px>Le 12 Juillet</p>
							<p style="margin-left: auto;">21h30</p>
						</div>
							<div class="div_number">
								<button class="btn button_number" name="minusCart">-</button>
								<p name="quantity">1</p>
								<button class="reverse_btn_small" name="plusCart">+</button>
								<p name="price">30€</p>
							</div>
							<button class="reverse_btn" style="margin-top:15px; width:100%;" name="addToCart"><p>AJOUTER AU PANIER</p></button>
					</div>
					<div class="artist_item musique" name="blaze">
						<img src="../images/photos_png/The_blaze_1.png">
						<p>MUSIQUE</p>
						<h2 class="bold_h2" style="margin:10px 0;">THE BLAZE</h2>
						<div style="display: flex;">
							<p style=margin-bottom:10px>Le 25 Juillet</p>
							<p style="margin-left: auto;">21h30</p>
						</div>
							<div class="div_number">
								<button class="btn button_number" name="minusCart">-</button>
								<p name="quantity">1</p>
								<button class="reverse_btn_small" name="plusCart">+</button>
								<p name="price">30€</p>
							</div>
							<button class="reverse_btn" style="margin-top:15px; width:100%;" name="addToCart"><p>AJOUTER AU PANIER</p></button>
					</div>
					<div class="artist_item theatre" name="adjani">
						<img src="../images/photos_png/Isabelle_Adjani_1.png">
						<p>THÉATRE</p>
						<h2 class="bold_h2" style="margin:10px 0;">ISABELLE ADJANI</h2>
						<div style="display: flex;">
							<p style=margin-bottom:10px>Le 20 et 21 Juillet</p>
							<p style="margin-left: auto;">21h30</p>
						</div>
							<div class="div_number">
								<button class="btn button_number" name="minusCart">-</button>
								<p name="quantity">1</p>
								<button class="reverse_btn_small" name="plusCart">+</button>
								<p name="price">30€</p>
							</div>
							<button class="reverse_btn" style="margin-top:15px; width:100%;" name="addToCart"><p>AJOUTER AU PANIER</p></button>
					</div>
					<div class="artist_item musique" name="pomme">
						<img src="../images/photos_png/Pomme_1.png">
						<p>MUSIQUE</p>
						<h2 class="bold_h2" style="margin:10px 0;">POMME</h2>
						<div style="display: flex;">
							<p style=margin-bottom:10px>Le 26 Juillet</p>
							<p style="margin-left: auto;">21h30</p>
						</div>
							<div class="div_number">
								<button class="btn button_number" name="minusCart">-</button>
								<p name="quantity">1</p>
								<button class="reverse_btn_small" name="plusCart">+</button>
								<p name="price">30€</p>
							</div>
							<button class="reverse_btn" style="margin-top:15px; width:100%;" name="addToCart"><p>AJOUTER AU PANIER</p></button>
					</div>
					<div class="artist_item musique" name="tamino">
						<img src="../images/photos_png/Tamino_1.png">
						<p>MUSIQUE</p>
						<h2 class="bold_h2" style="margin:10px 0;">TAMINO</h2>
						<div style="display: flex;">
							<p style=margin-bottom:10px>Le 24 Juillet</p>
							<p style="margin-left: auto;">21h30</p>
						</div>
						<div class="div_number">
							<button class="btn button_number" name="minusCart">-</button>
							<p name="quantity">1</p>
							<button class="reverse_btn_small" name="plusCart">+</button>
							<p name="price">30€</p>
						</div>
						<button class="reverse_btn" style="margin-top:15px; width:100%;" name="addToCart"><p>AJOUTER AU PANIER</p></button>
					</div>
				</div>
				<div class="filter">
					<h1 class="flowers flowers_medium" style="font-size: 35px;">Filtres</h1>
					<div>
						<input class="btn square_btn" name="filter" type="radio" value="artist_item" checked><p>TOUT</p>
					</div>
					<div>
						<input class="btn square_btn" name="filter" type="radio" value="musique"><p>MUSIQUE</p>
					</div>
					<div>
						<input class="btn square_btn " name="filter" type="radio" value="theatre"><p>THÉATRE</p>
					</div>
					<div>
						<input class="btn square_btn" name="filter" type="radio" value="danse"><p>DANSE</p>
					</div>
					<div>
						<input class="btn square_btn" name="filter" type="radio" value="nuit"><p>NUIT</p>
					</div>
					<div>
						<input class="btn square_btn" name="filter" type="radio" value="cirque"><p>CIRQUE</p>
					</div>
				</div>
			</div>
		</main>
		<div id="footer"></div>
	</body>
	<script src="../scripts/partials.js"></script>
	<script src="../scripts/filters.js"></script>
	<script src="../scripts/cart_management.js"></script>
</html>