<!DOCTYPE html>
<html lang="en">
	<head>
		<div id="head"></div>
	</head>
	<body>
		<div id="header"></div>
		<main>
			<div class="flowers flowers_h1_separated_div center_block">
				<h1>Programmation</h1>
			</div>
			<div class="padded_div max-width" style="align-items:start;padding-right: 0;">
				<div class="galerie">
					<div class="artist_item">
						<img src="../images/photos_png/Polnareff_2.png">
						<p>THÉATRE</p>
						<h2 class="bold_h2" style="margin:10px 0;">MICHEL POLNAREFF</h2>
						<div style="display: flex;">
							<p style=margin-bottom:10px>Le 5 Juin</p>
							<p style="margin-left: auto;">21h30</p>
						</div>
							<div class="div_number">
								<a href=""><button class="btn button_number">-</button></a>
								<p>1</p>
								<a href=""><button class="reverse_btn_small">+</button></a>
								<p>30€</p>
							</div>
							<button class="reverse_btn" style="margin-top:15px; width:100%;"><p>AJOUTER AU PANIER</p></button>
					</div>
					<div class="artist_item">
						<img src="../images/photos_png/Chris_1.png">
						<p>MUSIQUE</p>
						<h2 class="bold_h2" style="margin:10px 0;">CHRIS</h2>
						<div style="display: flex;">
							<p style=margin-bottom:10px>Le 6 Juin</p>
							<p style="margin-left: auto;">21h30</p>
						</div>
							<div class="div_number">
								<a href=""><button class="btn button_number">-</button></a>
								<p>1</p>
								<a href=""><button class="reverse_btn_small">+</button></a>
								<p>30€</p>
							</div>
							<button class="reverse_btn" style="margin-top:15px; width:100%;"><p>AJOUTER AU PANIER</p></button>
					</div>
					<div class="artist_item">
						<img src="../images/photos_png/Foresti_1.png">
						<p>MUSIQUE</p>
						<h2 class="bold_h2" style="margin:10px 0;">FLORENCE FORESTI</h2>
						<div style="display: flex;">
							<p style=margin-bottom:10px>Du 25 au 30 Juin 2023</p>
							<p style="margin-left: auto;">21h</p>
						</div>
							<div class="div_number">
								<a href=""><button class="btn button_number">-</button></a>
								<p>1</p>
								<a href=""><button class="reverse_btn_small">+</button></a>
								<p>30€</p>
							</div>
							<button class="reverse_btn" style="margin-top:15px; width:100%;"><p>AJOUTER AU PANIER</p></button>
					</div>
					<div class="artist_item">
						<img src="../images/photos_png/biolay_1.png">
						<p>MUSIQUE</p>
						<h2 class="bold_h2" style="margin:10px 0;">BENJAMIN BIOLAY</h2>
						<div style="display: flex;">
							<p style=margin-bottom:10px>Le 5 et 6 Juillet</p>
							<p style="margin-left: auto;">21h30</p>
						</div>
							<div class="div_number">
								<a href=""><button class="btn button_number">-</button></a>
								<p>1</p>
								<a href=""><button class="reverse_btn_small">+</button></a>
								<p>30€</p>
							</div>
							<button class="reverse_btn" style="margin-top:15px; width:100%;"><p>AJOUTER AU PANIER</p></button>
					</div>
					<div class="artist_item">
						<img src="../images/photos_png/Zazy_1.png">
						<p>MUSIQUE</p>
						<h2 class="bold_h2" style="margin:10px 0;">ZAZIE</h2>
						<div style="display: flex;">
							<p style=margin-bottom:10px>Le 12 Juillet</p>
							<p style="margin-left: auto;">21h30</p>
						</div>
							<div class="div_number">
								<a href=""><button class="btn button_number">-</button></a>
								<p>1</p>
								<a href=""><button class="reverse_btn_small">+</button></a>
								<p>30€</p>
							</div>
							<button class="reverse_btn" style="margin-top:15px; width:100%;"><p>AJOUTER AU PANIER</p></button>
					</div>
					<div class="artist_item">
						<img src="../images/photos_png/The_blaze_1.png">
						<p>MUSIQUE</p>
						<h2 class="bold_h2" style="margin:10px 0;">THE BLAZE</h2>
						<div style="display: flex;">
							<p style=margin-bottom:10px>Le 25 Juillet</p>
							<p style="margin-left: auto;">21h30</p>
						</div>
							<div class="div_number">
								<a href=""><button class="btn button_number">-</button></a>
								<p>1</p>
								<a href=""><button class="reverse_btn_small">+</button></a>
								<p>30€</p>
							</div>
							<button class="reverse_btn" style="margin-top:15px; width:100%;"><p>AJOUTER AU PANIER</p></button>
					</div>
					<div class="artist_item">
						<img src="../images/photos_png/Isabelle_Adjani_1.png">
						<p>THÉATRE</p>
						<h2 class="bold_h2" style="margin:10px 0;">ISABELLE ADJANI</h2>
						<div style="display: flex;">
							<p style=margin-bottom:10px>Le 20 et 21 Juillet</p>
							<p style="margin-left: auto;">21h30</p>
						</div>
							<div class="div_number">
								<a href=""><button class="btn button_number">-</button></a>
								<p>1</p>
								<a href=""><button class="reverse_btn_small">+</button></a>
								<p>30€</p>
							</div>
							<button class="reverse_btn" style="margin-top:15px; width:100%;"><p>AJOUTER AU PANIER</p></button>
					</div>
					<div class="artist_item">
						<img src="../images/photos_png/Pomme_1.png">
						<p>MUSIQUE</p>
						<h2 class="bold_h2" style="margin:10px 0;">POMME</h2>
						<div style="display: flex;">
							<p style=margin-bottom:10px>Le 26 Juillet</p>
							<p style="margin-left: auto;">21h30</p>
						</div>
							<div class="div_number">
								<a href=""><button class="btn button_number">-</button></a>
								<p>1</p>
								<a href=""><button class="reverse_btn_small">+</button></a>
								<p>30€</p>
							</div>
							<button class="reverse_btn" style="margin-top:15px; width:100%;"><p>AJOUTER AU PANIER</p></button>
					</div>
					<div class="artist_item">
						<img src="../images/photos_png/Tamino_1.png">
						<p>MUSIQUE</p>
						<h2 class="bold_h2" style="margin:10px 0;">TAMINO</h2>
						<div style="display: flex;">
							<p style=margin-bottom:10px>Le 24 Juillet</p>
							<p style="margin-left: auto;">21h30</p>
						</div>
							<div class="div_number">
								<a href=""><button class="btn button_number">-</button></a>
								<p>1</p>
								<a href=""><button class="reverse_btn_small">+</button></a>
								<p>30€</p>
							</div>
							<button class="reverse_btn" style="margin-top:15px; width:100%;"><p>AJOUTER AU PANIER</p></button>
					</div>
				</div>
				<div class="filter">
					<h1 class="flowers flowers_medium" style="font-size: 35px;">Filtres</h1>
					<form>
						<input type="checkbox" name="tout" id="tout"><p>TOUT</p></input><br>
						<input type="checkbox" name="tout" id="tout"><p>MUSIQUE</p></input><br>
						<input type="checkbox" name="tout" id="tout"><p>THEATRE</p></input><br>
						<input type="checkbox" name="tout" id="tout"><p>CIRQUE</p></input><br>
						<input type="checkbox" name="tout" id="tout"><p>DANSE</p></input><br>
						<input type="checkbox" name="tout" id="tout"><p>NUIT</p></input><br>
					</form>
				</div>
			</div>
				
		</main>
		<div id="footer"></div>
		<script src="../scripts/partials.js"></script>
	</body>
</html>