/* payment */
.size-font-numbers{
    font-size: 270%;
    font-family: satochi-bold;
    width: 30%;
    margin-left: 34%;
    text-align: center;
}


.size-font-title{
    font-family: phaton;
    font-size: 200%;
    padding-top: 8.1%;
    padding-bottom: 8.1%;
    text-align: center;
    width: 30%;
    min-width: 350px;
}


.disposition{
    display: flex;
    justify-content:space-between;
}

.payment_box {
    border: 2px solid #AD7036;
    padding:50px 80px;
}

.opacity-text{
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
}

.opacity-text:hover{
    opacity: 1;
}

.white-btn {
    background-color: #FFFFFF;
    border: 0;
}
